.api-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.api-detail-header {
  margin-bottom: 24px;
}

.api-detail-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  flex: 1;
  overflow: hidden;
}

.api-detail-left {
  overflow: auto;
}

.api-detail-right {
  overflow: auto;
}

@media (max-width: 1200px) {
  .api-detail-body {
    grid-template-columns: 1fr;
  }
}
